body {
    font-family: sans-serif;
}

.parthead {
    font-weight: bolder;
    font-size: 19px;
}



.hover-text5,
.hover-text6,
.hover-text7,
.hover-text8,
.hover-text9,
.hover-text10,
.hover-text10b,
.hover-text10c,
.hover-text25a,
.hover-text25b,
.hover-text25c,
.hover-text28,
.hover-text29a,
.hover-text29b,
.hover-text29c,
.hover-text15d,
.hover-text15e,
.hover-text15f
 {
    display: none;
}







/* 


<div class="row field1">
<div class="col-lg-10 col-xl-10 col-md-9 col-sm-12 col-xs-12">

    <div class="c1_pt9c">I agree that I will submit a new form within 30 days if any
        certification
        on
        this form
        becomes incorrect. </div>
</div> */

/* 
<div class="col-lg-2 col-xl-2 col-md-2 col-sm-12 col-xs-12">
<div class="form-check   form-group form-check-inline">
    <input class="form-check-input" type="checkbox" id="c1_pt9c" />
</div>
</div> */